# general
exp_name: "default"
seed: 1
torch_deterministic: True
cuda: True
save_model: True
use_tqdm: False

# training
total_timesteps: 1500000
learning_rate: 3e-4
num_envs: 16
num_steps: 2048
anneal_lr: False
num_minibatches: 32
update_epochs: 10

# ppo
gamma: 0.99
gae_lambda: 0.95
norm_adv: True
clip_coef: 0.1
clip_vloss: True
ent_coef: 0.0
vf_coef: 0.5
max_grad_norm: 0.5

# agent
feature_dim: 64

# to be filled in runtime
batch_size: 0
minibatch_size: 0
num_iterations: 0